<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.live.user.dao.LiveSeedDao">

    <select id="getBySeedNos" resultType="com.bh.live.model.lottery.Seed">
        select * from lotto_seed where seed_no in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getLiveUserBySeed" resultType="com.bh.live.pojo.res.live.LiveRoomSeedRes">
        select r.host_id userId,r.id,r.status,u.hot_val,u.icon,u.cover,u.username,r.lotto_name seedName,
        (SELECT concat((case when live_period = 0 then CONCAT('本周',live_date)
        when live_period = 1 then live_date end),'  ',CONCAT(start_time,'-',end_time)) liveTime
        FROM `lotto_host_advance` ha where ha.host_id=r.host_id and r.lotto_id=ha.seed_no and
        is_using=1 and is_usable=1 order by live_date,start_time,end_time desc limit 1) liveTime
        from lotto_host_room r
        LEFT JOIN lotto_host_user u on r.host_id=u.user_id
        where r.lotto_id=#{seedNo}
        <if test="queryType != ''">
            <if test="queryType == 'default'">
                order by r.status,u.hot_val desc
            </if>
            <if test="queryType == 'number'">
                order by r.line_persons desc
            </if>
            <if test="queryType == 'time'">
                order by r.open_time,u.hot_val desc
            </if>
        </if>
    </select>

</mapper>
