<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.live.user.dao.RoomMangerDao">

    <!--主播房间管理员列表-->
    <select id="queryRoomManagerList" resultType="com.bh.live.pojo.res.user.RoomMangerRes">
        select lrm.*,lu.nickname,lg.lv_image userLvIcon,lrr.intoTime from lotto_room_manger lrm
        left join
        (select room_id,user_id,
        if(DATEDIFF(CURDATE(),DATE_FORMAT(into_time,'%Y-%m-%d'))>=30,'不活跃',into_time) intoTime from
        (select room_id,user_id,into_time from lotto_into_room_record order by into_time desc) a
        GROUP BY room_id,user_id) lrr on lrm.room_id=lrr.room_id and lrm.user_id=lrr.user_id
        left join
        lotto_grade lg on lrm.user_lv=lg.lv_name
        left join lotto_live_user lu on lrm.user_id=lu.id
        where lrm.is_usable = 1 and lrm.host_user_id=#{hostId}
    </select>

    <!--用户特权列表-->
    <select id="queryPrivilegeList" resultType="com.bh.live.pojo.res.user.RoomUserMangerRes">
        select lrm.id,lrm.room_id,lrm.create_time,lrm.host_user_id hostId,lu.nickname from lotto_room_manger lrm
        left join lotto_live_user lu on lrm.host_user_id=lu.id
        where lrm.user_id=#{userId} and lrm.is_usable=1
    </select>
</mapper>
