<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.live.dao.WalkAlarmDao">
    <select id="getWalkAlarmList" parameterType="java.util.Map"
            resultType="com.bh.live.pojo.res.inform.ColorVarietyModelRes">
      select
        expect as expect
        <if test="param.ranking!=null and param.ranking!=''">
            ${param.mySql}
        </if>
       from t_variety_current where 1=1
        <if test="param.expect!=null and param.expect!=''">
            and expect >=#{param.expect}
        </if>
        <if test="param.ranking!=null and param.ranking!=''">
            ${param.numberBallsParams}
        </if>
            order by open_time desc limit 10
    </select>
</mapper> 