<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.live.dao.ZodiacFivePhasesDao">


    <select id="queryZodiacFivePhases" resultType="com.bh.live.model.inform.ZodiacFivePhases">
        SELECT
            target_name,
            num_json,
            particular_year,
            type_name
        from
            t_zodiac_five_phases
        WHERE
            particular_year = ${year}
            AND is_usable = 1
    </select>
    <select id="queryZodiacNumber" resultType="com.bh.live.model.inform.ZodiacFivePhases">
        SELECT
            target_name,
            num_json,
            particular_year,
            type_name
        from
            t_zodiac_five_phases
        WHERE
            particular_year = ${year}
            AND is_usable = 1 
            and type_name = 1  
    </select>
    
</mapper>