<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.live.dao.trade.TradeUserAwardDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bh.live.model.trade.TradeUserAward">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="tv_user_id" property="tvUserId"/>
        <result column="gift_id" property="giftId"/>
        <result column="gift_num" property="giftNum"/>
        <result column="amount" property="amount"/>
        <result column="gift_amount" property="giftAmount"/>
        <result column="room_id" property="roomId"/>
        <result column="trans_code" property="transCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, tv_user_id, gift_id, gift_num, amount, gift_amount, room_id, trans_code, create_time, update_time
    </sql>

</mapper>
